@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>

<form method="post">

    <div class="form-group">
        <label>Full Name</label>
        <input name="fullName" class="form-control" required />
    </div>

    <div class="form-group mt-2">
        <label>Email</label>
        <input name="email" class="form-control" required />
    </div>

    <div class="form-group mt-2">
        <label>Password</label>
        <input name="password" type="password" class="form-control" required />
    </div>

    <div class="form-group mt-2">
        <label>Batch</label>
        <select name="batchId" class="form-control">
            @foreach (var batch in ViewBag.Batches)
            {
                <option value="@batch.Id">
                    @batch.StartYear - @batch.AcademicProgram.Name
                </option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
        Create Student
    </button>

</form>