@model IEnumerable<ResultManagementSystem.Models.ApplicationUser>

<h2>Students</h2>

<p>
    <a asp-action="Create" class="btn btn-success">
        Create New Student
    </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Batch</th>
            <th>Program</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.Email</td>
                <td>@student.Batch?.StartYear</td>
                <td>@student.Batch?.AcademicProgram?.Name</td>
            </tr>
        }
    </tbody>
</table>